/* CareerView.css */

.career-view {
    background-color: #f8f9fa; /* Color de fondo para la vista */
    padding: 2rem; /* Espacio alrededor del contenido */
    border-radius: 0.5rem; /* Bordes redondeados para la vista */
  }
  
  .career-view h2 {
    color: #0056b3; /* El color de tu preferencia para el título */
    margin-bottom: 1rem;
  }
  
  .career-view p {
    color: #666; /* Color de texto para la descripción */
    margin-bottom: 1rem;
  }
  
  .info-card {
    /* Estilos para las tarjetas de información */
    border: none; /* Eliminar borde de las tarjetas */
    background-color: #fff; /* Fondo blanco para el contenido */
    text-align: center; /* Centrar texto */
    padding: 1rem; /* Espacio dentro de las tarjetas */
  }
  
  .accredited-card {
    /* Estilos para las tarjetas de acreditación */
    background-color: #e7e7e7; /* Color de fondo para las tarjetas de acreditación */
    text-align: center; /* Centrar texto */
    padding: 1rem; /* Espacio dentro de las tarjetas */
    margin-bottom: 1rem; /* Espacio debajo de las tarjetas */
  }
  
  .info-card ul {
    padding: 0;
    list-style-type: none; /* Eliminar viñetas de la lista */
  }
  
  .info-card ul li {
    text-align: left; /* Alineación del texto de los ítems */
    padding: 0.25rem 0; /* Espacio vertical para los ítems */
  }
  
  .info-card ul li:not(:last-child) {
    border-bottom: 1px solid #ddd; /* Líneas divisorias entre ítems */
  }

  /* Nuevos estilos o modificaciones para la tarjeta 'Áreas de Estudio' */
.info-card .card-title {
    color: #0056b3; /* Color del título ajustado a tu esquema de color */
    font-size: 1.25rem; /* Tamaño del título */
    font-weight: bold; /* Fuente en negrita */
    margin-bottom: 1rem; /* Espacio debajo del título */
  }
  
  .info-card ul {
    padding-left: 0; /* Elimina el padding a la izquierda */
    list-style: none; /* Elimina las viñetas */
    text-align: left; /* Alinea el texto a la izquierda */
    color: #333; /* Color del texto para los ítems */
    font-size: 0.9rem; /* Tamaño del texto de los ítems */
  }
  
  .info-card ul li {
    position: relative; /* Para posicionar los pseudo-elementos */
    padding-left: 1.5rem; /* Espacio para el ícono/imagen */
    margin-bottom: 0.5rem; /* Espacio entre ítems */
  }
  
  .info-card ul li:not(:last-child) {
    border-bottom: 1px solid #ddd; /* Línea divisoria */
    padding-bottom: 0.5rem; /* Espacio debajo del ítem */
  }
  
  .info-card ul li::before {
    content: ''; /* Pseudo-elemento para el ícono */
    position: absolute; /* Posicionamiento absoluto respecto al ítem */
    left: 0; /* Alineado a la izquierda */
    top: 0.25rem; /* Centrado verticalmente */
    width: 1rem; /* Ancho del pseudo-elemento */
    height: 1rem; /* Altura del pseudo-elemento */
    background-size: cover; /* Cubrir el espacio del pseudo-elemento */
    background-repeat: no-repeat; /* No repetir la imagen */
  }
  
  /* Ajusta el color de fondo de la tarjeta y quita la sombra si es necesario */
  .info-card {
    background-color: #f0f0f0; /* Color de fondo gris claro como en la imagen */
    box-shadow: none; /* Elimina la sombra si no la deseas */
    }