*{
  margin: 0;
  padding: 0;
}
html, 
body {
  font-size: 18px;
  background-color: rgb(255, 255, 255);
}

h2 {
  font-family: 'Oswald', sans-serif;
  /* Otros estilos para h2, como color, tamaño de fuente, etc. */
}

h4 {
  font-family: 'Oswald', sans-serif;
  /* Otros estilos para h4, como color, tamaño de fuente, etc. */
}

h5 {
  font-family: 'Oswald', sans-serif;
  /* Otros estilos para h4, como color, tamaño de fuente, etc. */
}

.titulos {
  align-content: center;
  margin-top: 20px;
  color: #0441b3;
  font-size: 10px;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contenedor-principal{
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.image-container {
  text-align: center; /* Para centrar la imagen horizontalmente */
}

.image-container img {
  max-width: 100%; /* La imagen se ajustará al ancho del contenedor */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción original */
}

.card-container {
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar {
  font-size: 18px;
  font-family:  Lato, sans-serif;
  width: 100%;
  height: 90px;
  text-align: center;
}

.navbar-logo {
  width: 200px; /* Ajusta el ancho según tus necesidades */
  height: auto; /* Esto mantiene la proporción original de la imagen */
  margin-right: 45%; /* Ajusta el margen derecho según tus necesidades */
}

/* navbar.css */
.custom-bg {
  background-color: #141a4e; /* Cambia esto al color que desees */
}
/* navbar.css */


/* CSS de la clase componentes*/

.body-styling {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.componente {
  width: 30%;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-sizing: border-box;
}

.componente img {
  width: 100%;
  height: 350px;
  display: block;
}

.componente .descripcion {
  padding: 15px;
  /* background-color: #f4f4f4; */
}

.componente .Subtitulos {
  font-family: 'Oswald', sans-serif;
  color: #004070;
  padding: 15px;
  text-align: center; /* Para centrar el texto */
}

.componenteSO {
  width: 45%;
  margin: 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-sizing: border-box;
  flex: 30%;
}

.componenteSO img {
  width: 100%;
  height: 100%;
  display: block;
}

.componenteSO .descripcion {
  padding: 100px;
  /* background-color: #f4f4f4; */
}

@media screen and (max-width: 768px) {
  .componenteSO {
    flex: 100%; /* Take up the full width on smaller screens */
  }
}

.componente .Subtitulos {
  font-family: 'Oswald', sans-serif;
  color: #004070;
  padding: 15px;
  text-align: center; /* Para centrar el texto */
}


